.do-align-top {
  align-items: normal !important;
}

.do-small-padding {
  padding: 8px 0 !important;
}

.do-expand {
  width: 100%;
}

.has-text-light a {
  color: whitesmoke !important;
}

.has-text-light a:hover {
  text-decoration: underline;
}
